# @@@LICENSE
#
# Copyright (c) 2019 LG Electronics, Inc.
#
# LICENSE@@@

[Unit]
Description=webos - "%n"
Requires=pulseaudio.service default-webos.target
After=pulseaudio.service default-webos.target

[Service]
Type=simple
OOMScoreAdjust=1000
ExecStartPre=/etc/systemd/system/scripts/contextintentmgr.sh
ExecStart=/usr/bin/run-js-service -k -g -l nobody -w -n /usr/palm/services/com.webos.service.contextintentmgr
Restart=on-failure

[Install]
WantedBy=default-webos.target